// Color Styles

// Blue
$tertiary-blue: #f4f8ff;
$secondary-blue: #e1ecff;
$primary-blue: #377dff;

$primary-blue-hover: #1e6cff;
$secondary-blue-hover: #c8dcff;
$tertiary-blue-hover: #dbe8ff;

$primary-blue-focus: #1e6cff;
$secondary-blue-focus: #c8dcff;
$tertiary-blue-focus: #dbe8ff;

$primary-blue-active: #045cff;
$secondary-blue-active: #aeccff;
$tertiary-blue-active: #c1d8ff;

// Green
$tertiary-green: #f5fcf9;
$secondary-green: #e5f6ef;
$primary-green: #38cb89;

$primary-green-hover: #30b97c;
$secondary-green-hover: #d2efe3;
$tertiary-green-hover: #e1f6ed;

$primary-green-focus: #30b97c;
$secondary-green-focus: #d2efe3;
$tertiary-green-focus: #e1f6ed;

$primary-green-active: #2ba56e;
$secondary-green-active: #bfe9d8;
$tertiary-green-active: #cef0e1;

// Orange
$tertiary-orange: #fffbf1;
$secondary-orange: #fdf4e0;
$primary-orange: #ffab00;

$primary-orange-hover: #e69a00;
$secondary-orange-hover: #fbecc8;
$tertiary-orange-hover: #fff4d8;

$primary-orange-focus: #e69a00;
$secondary-orange-focus: #fbecc8;
$tertiary-orange-focus: #fff4d8;

$primary-orange-active: #cc8900;
$secondary-orange-active: #fae3b0;
$tertiary-orange-active: #ffecbe;

// Red
$tertiary-red: #fff6f4;
$secondary-red: #ffe6e0;
$primary-red: #ff5630;

$primary-red-hover: #ff4117;
$secondary-red-hover: #ffd1c7;
$tertiary-red-hover: #ffe1db;

$primary-red-focus: #ff4117;
$secondary-red-focus: #ffd1c7;
$tertiary-red-focus: #ffe1db;

$primary-red-active: #fc2e00;
$secondary-red-active: #ffbdad;
$tertiary-red-active: #ffccc1;

// Text
$text-color-primary: #323b4b;
$text-color-secondary: #4e5d78;
$text-color-tertiary: #8a94a6;
$text-color-quaternary: #b0b7c3;


// Background
$bg-color-primary: #c1c7d0;
$bg-color-secondary: #ebecf0;
$bg-color-tertiary: #f7f7f7;
$bg-color-quaternary: #ffffff;

// End Color Styles

